.wrapperHead {
  z-index: 200;
  padding-top: 4.25rem;
  padding-bottom: 5.5rem;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.wrapperHead__special {
  z-index: inherit  ;
  padding-bottom: 3.5rem;
  padding-top: 2.25rem;
}

.buttonWrap {
  z-index: 200;
  position: absolute;
  top: 3.2rem;
  left: 4.3rem;
}

.buttonWrapHome {
  z-index: 200;
  position: absolute;
  top: 3.2rem;
  right: 4.3rem;
}

.tutorial__title {
  text-align: center;
  font-size: 6rem;
  color: var(--blue);
  justify-self: center;
  margin: auto;
}

.wrapperHead__progressbar {
  width: 41.1rem;
  margin-top: 2.5rem;
  background-color: var(--greenLight);
  border-radius: 5rem;
  display: grid;
}

.progressbar__progress {
  display: block;
  grid-column: 1;
  background-color: var(--yellow);
  grid-row: 1;
  border-radius: 5rem;
  height: 1.5rem;
}

.progressbar__text {
  text-align: center;
  grid-column: 1;
  grid-row: 1;
}
