.container {
  height: 100%;
  width: 100%;
  background-color: var(--green);
  background-image: url("/assets/blobs/blob5-verzondenMail.svg"), url("/assets/blobs/blob6-verzondenMail.svg");
  background-position: top right, bottom left;
  background-repeat: no-repeat;

  display: grid;
  grid-template-columns: 99% 1fr;
  grid-template-rows: 1fr 2fr 3fr;
  
  justify-content: center;
  align-items: center;
}

.mainContent {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-left: 10rem;
    margin-top: 5rem;
    grid-column: 1 / span 2;
}

.mainContentText {
    font-size: 3.6rem;
    max-width: 65rem;
    padding-left: 2rem;
    color: var(--blueDark);
}

.plane {
    margin-left: -22rem;
}

.image {
    margin-left: 2rem;
}