
.books__week__title {
    padding: 1rem;
    font-size: 3rem;
    border-bottom: .3rem solid var(--borders);
    border-left: .4rem solid var(--borders);
    margin-bottom: 2rem;
    width: 100%;
  }
  
  .books__week {
    margin-bottom: 3rem;
    font-size: 1.8rem;
  
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  
  .home__buttons {
    display: flex; 
    padding: 2.5rem;
    width: 100%;
    justify-content: space-evenly;
  }

  .home__start {
    position: fixed; 
    right: 5rem;
    bottom: 5rem;
  }

  .home__bg {
    background: url(/assets/illustraties/uiltje-home.svg), url(/assets/blobs/blob1-startscherm.svg), url(/assets/blobs/blob2-startscherm.svg), var(--blue) ;
    background-repeat: no-repeat;
    background-position: left bottom, left bottom, right top;
    height: 100%;
  }