.container {
    height: 100%;
    width: 100%;
    background: var(--green);
    background-repeat: no-repeat;
    background-position: left center, right bottom;
    overflow: hidden;
}


.videoContent {
  display: flex;
  justify-content: center;
  align-items: center;
}


.loaderWrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.loader {
    border: 1rem solid #f3f3f3; /* Light grey */
    border-top: 1rem solid var(--redLight); /* Blue */
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .video {
    max-height: 100vh;
  }

.skipButton {
  height: 8.4rem;
  width: 8.4rem;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--redLight);
  border-radius: 50%;
}

.skipButton img {
  margin-left: 1rem;
}