:root {
    --yellow: #FDE01B;
    --yellowLight: #FDEC77;
    --yellowDark: #FDE01B;
    --orange: #F27500;
    --orangeLight: #F69D49;
    --orangeDark: #EC770F;
    --red: #EB3F6D;
    --redLight: #F35B84;
    --redDark: #ED1D54;
    --green: #43EDB0;
    --greenLight: #50F2B8;
    --greenDark: #36EA93;
    --blue: #335DFF;
    --blueLight: #335DFF;
    --blueDark: #1037D0;
    --white: #FFFFFF;
    --black: #000000;
}