.container {
  background: url(/assets/blobs/blob15-vrienden.svg),
    url(/assets/blobs/blob16-vrienden.svg), var(--greenLight);
  background-repeat: no-repeat;
  background-position: left bottom, right 5rem;
  height: 100%;
  padding-bottom: 5rem;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin-top: 5rem;
  padding: 0 4.5rem;
  grid-row-gap: 4rem;
}

.project__pictureBox {
  padding: 1rem;
  background: white;
  border-radius: 2rem 2rem 0 0;
}

.project__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--grey);
  border-radius: 0 0 2rem 2rem;
  box-shadow: 0 0.5rem var(--greyShadow);
}

.project__bar__autor {
  display: flex;
  align-items: center;
}

.project__bar__buttonbox {
  padding: 1rem 1.5rem;
  background: var(--blue);
  border-radius: 0 0 2rem 0;
  box-shadow: 0 0.5rem var(--blueDark);
}

.project__bar__image {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  margin-left: 2.5rem;
}

.project__bar__name {
  font-size: 1.8rem;
}

.project__bar__buttonbox__image {
  object-fit: cover;
}

.NoneFound {
  height: 27rem;
  width: 25rem;
  padding: 5rem;
  font-size: 2.2rem;

  background: var(--blue);
  border-radius: 1.5rem;
  box-shadow: 0 0.5rem var(--blueDark);
  text-align: center;
  color: var(--white);

  display: flex;
  justify-content: center;
  align-items: center;

  line-height: 2.3rem;
  
}