.boekje {
  background: url(/assets/illustraties/boek-open.svg);
  height: 100%;
  background-repeat: no-repeat;
  background-position: center 0.5rem;
}

.boekje__two {
  background: url(/assets/illustraties/boek-stap2.svg);
  background-repeat: no-repeat;
  background-position: center 0.5rem;
}
.boekje__three {
  background: url(/assets/illustraties/boek-stap3.svg);
  background-repeat: no-repeat;
  background-position: center 0.5rem;
}
.boekje__four {
  background: url(/assets/illustraties/boek-stap4.svg);
  background-repeat: no-repeat;
  background-position: center 0.5rem;
}
.boekje__five {
  background: url(/assets/illustraties/boek-stap5.svg);
  background-repeat: no-repeat;
  background-position: center 0.5rem;
}
.boekje__six {
  background: url(/assets/illustraties/boek-stap6.svg);
  background-repeat: no-repeat;
  background-position: center 0.5rem;
}
.boekje__seven {
  background: url(/assets/illustraties/boek-stap7.svg);
  background-repeat: no-repeat;
  background-position: center 0.5rem;
}
.boekje__eight {
  background: url(/assets/illustraties/boek-stap8.svg);
  background-repeat: no-repeat;
  background-position: center 0.5rem;
}
.boekje__nine {
  background: url(/assets/illustraties/boek-stap9.svg);
  background-repeat: no-repeat;
  background-position: center 0.5rem;
}
.boekje__ten {
  background: url(/assets/illustraties/boek-stap10.svg);
  background-repeat: no-repeat;
  background-position: center 0.5rem;
}
.boekje__eleven {
  background: url(/assets/illustraties/boek-stap10.svg);
  background-repeat: no-repeat;
  background-position: center 0.5rem;
}
.boekje__twelve {
  background: url(/assets/illustraties/boek-stap12.svg);
  background-repeat: no-repeat;
  background-position: center 0.5rem;
}

.boekje__content {
  width: 88.1rem;
  margin: auto;
  height: 54.7rem;
  padding: 3rem 4rem;
  display: flex;
}

.boekje__content__wrapper {
  width: 50%;
}

.boekje__content__wrapper__verzamel {
  padding: 0 5rem;
  /* box-shadow: 0 0.5rem; */
  padding-top: 2.5rem;
  padding-left: 1.5rem;
  margin-bottom: 2.5rem;
}

.boekje__verzamel {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.boekje__verzamel__icon {
  margin-right: 0.5rem;
}

.boekje__verzamel__line {
  border: 0.15rem solid var(--grey);
}

.object__content {
  padding-right: 2.5rem;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}

.boekje__tekst {
  font-size: 7rem;
}

.boekje__tekst,
.boekje__tekstMed {
  color: var(--orange);
  text-align: right;
}
.boekje__tekstMed {
  font-size: 2.6rem;
}

.tekst__gray {
  color: var(--greyLight);
}

.boekje__content__object {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 77%;
  padding-right: 5.5rem;
}

.boekje__content__wrapper__second {
  background: url(/assets/illustraties/uiltjePointing-tutorial2.svg);
  background-repeat: no-repeat;
  background-size: 42%;
  background-position: 19rem 25rem;
}

.second__bevestig {
  display: grid;
  width: 26.3rem;
  margin-left: 5rem;
  margin-top: 2.5rem;
  justify-items: center;
  align-items: center;
}

.second__bevestig__image {
  grid-column: 1;
  grid-row: 1;
}

.second__bevestig__wrapper {
  grid-column: 1;
  grid-row: 1;
  padding: 2.5rem;
  padding-left: 2rem;
}

.second__bevestig__tekst {
  font-size: 2.5rem;
  text-align: center;
}

.second__bevestig__tekst__orange {
  color: var(--orange);
}

.second__bevestig__wrapper__buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2.5rem;
}

.thumbsdown__image,
.thumbsupp__image {
  width: 2.5rem;
  height: 2.3rem;
}

.thumbsupp,
.thumbsdown {
  border-radius: 1.5rem;
  border: 0.25rem solid var(--greenLight);
  background-color: var(--greenDark);
  box-shadow: 0 0.5rem var(--greenShadow);
  padding: 1.5rem;
}

.thumbsdown {
  border: 0.25rem solid var(--redLight);
  background-color: var(--red);
  box-shadow: 0 0.5rem var(--red);
}

.thumbsdown__image {
  transform: scale(-1);
}

.boekje__content__wrapper__alternatief {
  padding: 3rem;
  padding-right: 4.5rem;
}

.alternatief__content {
  display: flex;
  align-items: center;
}

.alternatief__tekst {
  font-size: 2.3rem;
}

.tekst__green {
  color: var(--green);
}

.tekst__blue {
  color: var(--blue);
}

.tekst__red {
  color: var(--red);
}

.tekst__orange {
  color: var(--orange);
}

.alternatief__content {
  border-radius: 1rem;
  padding: 1.5rem;
  border: 0.15rem solid var(--grey);
  line-height: 1;
}

.alternatief__soundbutton {
  margin-right: 2rem;
}

.alternatief__options {
  display: flex;
  height: 80%;
  justify-content: center;
  align-items: center;
}

.alternatief__option {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.boekje__content__object__materialentwo {
  padding-right: 3.5rem;
  flex-flow: column;
}

.materialentwo__object__wrapper {
  display: flex;
}

.materialentwo__object {
  margin-left: 1rem;
  text-align: center;
  padding-bottom: 3rem;
}

.materialentwo__object__moreunderspace {
  padding-bottom: 8rem;
}

.materialentwo__object__centered {
  margin-top: 7.5rem;
  display: flex;
  justify-content: center;
}

.boekje__content__object___materialenthree {
  display: flex;
  flex-flow: column;
}

.materialenthree__afbeelding {
  margin-bottom: 2.5rem;
}

.boekje__content__stepOne {
  display: flex;
  padding-left: 11rem;
}

.stepOne__content {
  padding-top: 15rem;
  margin-right: 2.5rem;
}

.tekst__stappen {
  color: var(--orange);
  font-size: 4rem;
}

.boekje__content__stepCenter {
  display: flex;
  justify-content: center;
}

.boekje__content__stepFive {
  padding-left: 0;
}

.stepFive__wrapper {
  width: 50%;
  display: grid;
}

.stepFive__content {
  grid-column: 1;
  grid-row: 1;
  padding-left: 13rem;
  padding-top: 7rem;
}

.stepFive__image {
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
  align-self: center;
}

.stepFive__image__moreSpace {
  margin-left: 12rem;
}

.stepFive__content__space {
  padding-top: 10rem;
  padding-left: 10rem;
}

.boekje__content__stepCenter__lessPaddingLeft {
  padding-left: 1rem;
}

.stepTwelve__wrapper {
  width: 50%;
  padding: 3rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.stepTwelve__tekst {
  font-size: 4.6rem;
}
.stepTwelve__options {
  display: flex;
}

.stepTwelve__titel {
  font-size: 4.6rem;
  margin-bottom: 5rem;
}

.stepTwelve__wrapper__partTwo {
  justify-content: flex-start;
}

.stepTwelve__option {
  padding: 2.5rem;
  padding-top: 0;
}

.stepTwelve__wrapper__uiltje {
  position: fixed;
  bottom: 0;
  right: 1.5rem;
  display: flex;
}

.uitlje__content__spraak__tekst {
  width: 60%;
  font-size: 1.8rem;
}

.uiltje__content {
  display: grid;
  margin-top: 5rem;
  width: 31rem;
  height: 13rem;
}

.uiltje__wrapper {
  grid-column: 1;
  grid-row: 1;
}

.uitlje__content__spraak {
  display: grid;
  justify-items: center;
  align-items: center;
  margin-top: 2rem;
}

.uitlje__content__spraak__image {
  grid-column: 1;
  grid-row: 1;
}

.uitlje__content__spraak__tekst {
  grid-column: 1;
  grid-row: 1;
}

.uitlje__content__button {
  grid-column: 1;
  grid-row: 1;
}

.fotoNemen {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2.5rem;
}

.uitlje__content__spraak__tekst__neemFoto {
  width: 83%;
  padding-left: 3.5rem;
  color: white;
}

.stepTwelve__wrapper__uiltje__left {
  left: 1.5rem;
  right: auto;
}

.uitlje__content__button__neemFoto {
  justify-self: flex-end;
}

.uiltje__content__neemFoto {
  margin-top: 1rem;
}

.neemFoto__button {
  position: fixed;
  bottom: 5rem;
  right: 5rem;
}

.bevestigFoto {
  height: 44rem;
  width: 44rem;
  background-color: var(--white);

  display: flex;
  justify-content: center;
  align-items: center;
}

.uploadedPicture {
  width: 44rem;
  height: 44rem;
  object-fit: cover;
}
 
.boekje__content__stepCenter__bevestigFoto {
  align-items: center;
}

.bevestigFoto__buttons {
  position: absolute;
  bottom: 2.5rem;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
}

.bevestigFoto__button {
  margin: 0 2rem;
}

.loader {
  border: 1rem solid #f3f3f3; /* Light grey */
  border-top: 1rem solid var(--redLight); /* Blue */
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



.uploadMessage {
  position: absolute;
  left: calc(50% - 25rem);
  top: calc(50% - 15rem);

  width: 50rem;
  height: 30rem;
  border-radius: 1.5rem;
  background-color: var(--white);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.25);

  border: solid 1px var(--grey);
}

.uploadMessage__text {
  font-size: 2.8rem;
  padding-bottom: 5rem;
}