.container {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;

    background-color: var(--white);
    background-image: url("/assets/blobs/blob9-characterConfirmation.svg");
}

.warningMessage {
    background-color: var(--redDark);
    width: 67.5rem;
    height: 9.25rem;
    border-radius: 1.5rem;
    margin-top: 2.2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.6rem;

}

.warningMessageText {
    margin-left: 1.3rem;
    font-size: 3rem;
    line-height: 3rem;
    text-align: center;
    color: var(--white);
}

.warningMessageIcon {
    margin-left: -3rem;
}

.soundButton {
    position: absolute;
    left: 13.5rem;
    top: 6rem;
}

.mainContent {
    text-align: center;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    height: 40rem;

    background-image: url("/assets/illustraties/owlStick.svg");
    background-repeat: no-repeat;
    background-position: bottom left;
}

.userNameTitle {
    color: var(--greenDark);
    font-size: 3.6rem;
    padding-bottom: 1.6rem;
}

.userName {
    font-size: 7.2rem;
    color: var(--blue);
}

.buttonWrapper {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin-bottom: 4rem;
}

.personalDetailsWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.userColor {
    margin-top: 2rem;
    height: 10rem;
    width: 10rem;
    border-radius: 1.5rem;
}